@import "../styles/colors";

iframe {
  width: 100%;
}

.title {
  font-size: 18gipt;
  font-weight: bold;
  margin-left: 5px;
}
.sub-title {
  font-size: 9pt;
  font-weight: bold;
  margin-left: 5px;
}
.sub-title2 {
  font-size: 9pt;
  font-weight: bold;
  margin-left: 5px;
  padding-left: 15px;
}


.post {
  @media screen and (max-width: 990px) {
    padding: 5px 25px;
  }
  border-radius: 2px;

  .content {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    background: white;
    margin-top: 1px;
    margin-bottom: 1px;

    a {
      color: #000000;

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
    @for $i from 1 through 6 {
      h#{$i} {
        font-size: 26 - $i * 2px;
        font-weight: 400;
      }
    }

    h2 {
      display: none;
      font-weight: 600;
    }

    blockquote {
      max-width: 100%;
      width: 100%;
      word-break: break-word;
      caret-color: rgba(255, 255, 255, 0.9);
      border-left: 3px solid currentcolor;
      margin: 0; // Required
      padding-left: 0.9em;
      padding-right: 0.9em;
    }
  }

  #gitalk-container {
    margin: 0 auto;
  }
  
  
  a {
    color: inherit;
    font-size: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}