@import "../../styles/colors.scss"; // Colors
// Content

.fadeIn {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.layout {
  // Pixiv background style
  background-color: $bg;

  img {
    max-width: 100%;
  }
}

.stats {
  padding-bottom: inherit;
  padding-top: inherit;
  background: white;
  width: 100%;
  .seperator {
    .header-tag {
      color: #498a94;
      font-size: 9pt;
    }
  }
  .seperator:last-child {
    .header-tag {
    span {
    display: none;
    }
  }
  }
}
.header {
  background: white;
}